







                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        So many ways to create
                    </h2>
                    <div>
                        <br>
                    </div>
                    <div>
                        Physical forms
                    </div>
                    <div>
                        Browser for the web
                    </div>
                    <div>
                        Browser for a single installation
                    </div>
                    <div>
                        Additive or subtractive 3D printing
                    </div>
                    <div>
                        Projection mapping
                    </div>
                    <div>
                        LED sculptures
                    </div>
                    <div>
                        Bots and robots
                    </div>
                    <div>
                        Music
                    </div>
                </section>




                