<section>
    <h1>
        Hello!
    </h1>
    <br>
    <p>I'm Ben Purdy</p>
</section>
                
<section>
    <h1>
        Hello!
    </h1>
    <br>
    <p>I'm John Brown</p>
</section>

<section>
    <h2>
        Here's what we do
    </h2>
    <br>
    <p>*image collage*</p>
</section>

<section>
    <h2>
        Here's why we do it
    </h2>
    <br>
    <p>reasons.</p>
</section>

<section>
    <h2>
        
    </h2>
    <br>
    <p>Describe creative coding ideals/practice</p>
<!--


Other definitions of creative coding
List of qualities
Our interpretation for use in the talk 

-->

</section>