
                <section data-background="make-art-not-apps/tumblr_n0d5xzLYSk1shpedgo2_r2_400.gif">
                    <h2 style="color:black;">
                        What is creative coding?
                    </h2>
                    <div>
                        <br>
                    </div>
                    <div>
                        <p class="p1" style="color:black;">
                            Creative Coding is art, experimentation,
                        </p>
                        <p class="p1" style="color:black;">
                            and exploration through code.
                        </p>
                    </div>
                </section>
                <section data-background="make-art-not-apps/tumblr_mz9u6iySvb1rpco88o1_400.gif">
                    <h2>
                        What is creative coding?
                    </h2>
                    <div>
                        <br>
                    </div>
                    <div>
                        <p class="p1" style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal;">
                            Making something without really knowing
                        </p>
                        <p class="p1" style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal;">
                            what you're making.
                        </p>
                    </div>
                </section>
                <section data-background="make-art-not-apps/tumblr_neh3v3ShSV1r2geqjo1_500.gif">
                    <h2>
                        What is creative coding?
                    </h2>
                    <div>
                        <span style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal;"><br></span>
                    </div>
                    <div>
                        <span style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal;">Trying new things.</span><br>
                    </div>
                    <div>
                        <span style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal;">And knowing sometimes it's doomed to fail.</span><br>
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h1>
                        Hello!
                    </h1>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h1 style="font-style: normal; font-variant: normal;">
                        I'm John Brown.
                    </h1>
                    <div>
                        <img data-src="make-art-not-apps/810552-johnBrown600x600.png" style="width: 226.565217163252px; height: 226.565217163252px; max-height: none; max-width: none;"><br>
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h1 style="font-style: normal; font-variant: normal;">
                        I'm JohnBrown.
                    </h1>
                    <div>
                        <img data-src="make-art-not-apps/810552-johnBrown600x600.png" style="width: 226.565217163252px; height: 226.565217163252px; max-height: none; max-width: none;"><br>
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h1 style="font-style: normal; font-variant: normal;">
                        I'm John Brown.
                    </h1>
                    <div>
                        <img data-src="make-art-not-apps/810552-johnBrown600x600.png" style="width: 226.565217163252px; height: 226.565217163252px; max-height: none; max-width: none;"><br>
                    </div>
                    <div>
                        Technical Director at Instrument
                    </div>
                    <div>
                        Swiss Army knife developer
                    </div>
                    
                </section>

                

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h1 style="font-style: normal; font-variant: normal;">
                        I'm Ben Purdy.
                    </h1>
                    <div>
                        <img data-src="make-art-not-apps/ben-purdy.png" style="width: 226.565217163252px; height: 226.565217163252px; max-height: none; max-width: none;"><br>
                    </div>
                    <div>
                        @purdybot
                    </div>
                    <div>
                        <br>
                    </div>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h1 style="font-style: normal; font-variant: normal;">
                        I'm Ben Purdy.
                    </h1>
                    <div>
                        <img data-src="make-art-not-apps/ben-purdy.png" style="width: 226.565217163252px; height: 226.565217163252px; max-height: none; max-width: none;"><br>
                    </div>
                    <div>
                       QA contractor at Intel back in 1999
                    </div>
                    <div>
                        <br>
                    </div>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h1 style="font-style: normal; font-variant: normal;">
                        I'm Ben Purdy.
                    </h1>
                    <div>
                        <img data-src="make-art-not-apps/ben-purdy.png" style="width: 226.565217163252px; height: 226.565217163252px; max-height: none; max-width: none;"><br>
                    </div>
                    <div>
                        QA <span style="opacity:0.4;">&#65515;</span> Developer <span style="opacity:0.4;">&#65515;</span> Designer <span style="opacity:0.4;">&#65515;</span>
                    </div>
                    <div>
                         Freelance Creative <span style="opacity:0.4;">&#65515;</span> Technical Director
                    </div>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h1 style="font-style: normal; font-variant: normal;">
                        <img data-src="make-art-not-apps/glowbox-logo.png" style="height: 120px; max-height: none; max-width: none;"><br>
                    </h1>
                    <div>
                        <img data-src="make-art-not-apps/glowbox-panorama.jpg" style="height: 320px; max-height: none; max-width: none;"><br>
                    </div>
                    <div>
                        digital interactive studio in SE Portland
                    </div>
                    <div>http://glowbox.io</div>
                    <div>
                        <br>
                    </div>
                </section>
  
                <!-- intro to Actions > Words -->






                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        XOXO Glitch
                    </h2>
                    <div>
                        dynamic projected installations
                    </div>
                    <video data-autoplay data-src="make-art-not-apps/videos/xoxo.mp4"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        XOXO Glitch
                    </h2>
                    <div>
                        
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/xoxo1-refractoid.mp4"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        XOXO Glitch
                    </h2>
                    <div>
                        
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/xoxo2-delaunay.mp4"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        XOXO Glitch
                    </h2>
                    <div>
                        
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/xoxo3-isosurface.mp4"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        XOXO Glitch
                    </h2>
                    <div>
                        
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/xoxo4-shards1.mp4"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        XOXO Glitch
                    </h2>
                    <div>
                        
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/xoxo5-shards2.mp4"></video>
                </section>
                
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        XOXO Glitch
                    </h2>
                    <div>
                        
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/xoxo6-shards3.mp4"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        XOXO Glitch
                    </h2>
                    <div>
                        
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/xoxo7-text.mp4"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        XOXO Glitch
                    </h2>
                    <div>
                        
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/xoxo8-final.mp4"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        XOXO Glitch
                    </h2>
                    <div>
                        
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/xoxo9-bumpers.mp4"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Lazy Sunday
                    </h2>
                    <div>
                        Hanging out with my friend @ChrisArth
                    </div>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Lazy Sunday
                    </h2>
                    <div>
                        Let's make a Twitterbot
                    </div>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Let's corrupt some data
                    </h2>
                    <div>
                        It's what the cool kids are doing
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        There's more than one way to glitch an avatar
                    </h2>
                    <img data-src="make-art-not-apps/810756-type0.gif" style="width: 206.981165536924px; height: 206.443840351658px; max-height: none; max-width: none;"><img data-src="make-art-not-apps/810759-type1.gif" style="width: 206.443840351658px; height: 206.443840351658px; max-height: none; max-width: none;"><img data-src="make-art-not-apps/810761-type2.gif" style="width: 206.981165536924px; height: 206.443840351658px; max-height: none; max-width: none;"><img data-src="make-art-not-apps/810763-type3.gif" style="width: 219.727905982176px; height: 220.793478032817px; max-height: none; max-width: none;"><img data-src="make-art-not-apps/810764-type4.gif" style="width: 221.163043250208px; height: 221.163043250208px; max-height: none; max-width: none;"><img data-src="make-art-not-apps/810765-type5.gif" style="width: 220.030796873397px; height: 220.030796873397px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        @AvatarGlitch
                    </h2>
                    <br>
                    <div><a href="http://twitter.com/avatarglitch">Link</a></div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        @Avatarglitch
                    </h2>
                    <div>
                        And then we talked about it
                    </div>
                    <img data-src="make-art-not-apps/avatarglitch.jpg" style="width: 335.200907574008px; height: 502.717391076295px; max-height: none; max-width: none;">
                </section>





                
                
















                


                


                

                
                







                





                
                
                    

                








                

                



                



