                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Duet
                    </h2>
                    <div>
                        Party Tetrahedrons
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/duet2.mp4"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-invert.png">
                    <h1>
                        Takeaway 1
                    </h1>
                    <p>Make it fun even when not interacting</p>
                </section>