<!-- start TUIO -->

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        TUIO Jam
                    </h2>
                    <div>
                        <br>
                    </div>
                    <div>by @momothemonster</div>
                    <img data-src="make-art-not-apps/tuiojam.png">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        TUIO Jam
                    </h2>
                    <div>
                        <br>
                    </div>
                    <div>
                        Once again, w/ @ChrisArth
                    </div>
                    <img data-src="make-art-not-apps/tuiojam.png">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        TUIO Jam
                    </h2>
                    <div>
                        Ethereal Net of Dreams
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/tuio1.mp4" style="width: 420.279383429672px; height: 420.279383429672px; max-height: none; max-width: none;"></video>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        TUIO Jam
                    </h2>
                    <div>
                        Bringer of Forever Darkness
                    </div>
    <video data-autoplay loop data-src="make-art-not-apps/videos/tuio2.mp4" style="width: 421.483622350674px; height: 421.483622350674px; max-height: none; max-width: none;"></video>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        TUIO Jam
                    </h2>
                    <div>
                        Teamwork!
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/tuio1.mp4" style="width: 420.279383429672px; height: 420.279383429672px; max-height: none; max-width: none;"></video>
    <video data-autoplay loop data-src="make-art-not-apps/videos/tuio2.mp4" style="width: 421.483622350674px; height: 421.483622350674px; max-height: none; max-width: none;"></video>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        TUIO Jam
                    </h2>
                    <div>
                        In the Diode Gallery window
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/tuio3.mp4"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-invert.png">
                    <h1>
                        Takeaway 2
                    </h1>
                    <p>Bring a buddy</p>
                </section>

                <!-- end TUIO -->