                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        Map dive
                    </h2>
                    <video data-autoplay data-src="make-art-not-apps/videos/mapdive-video.mp4"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-invert.png">
                    <h1>
                        Takeaway 3
                    </h1>
                    <p>We’re still just waving our arms</p>
                    <img data-src="make-art-not-apps/kermit.gif"/>
                </section>