                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Instrument Holiday Party 2013
                    </h2>
                    <p>Let's connect people who aren't connected.</p>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Instrument Holiday Party 2013
                    </h2>
                    <p>We've (almost) all got one of these.</p>
                    <img data-src="make-art-not-apps/iphone.jpg" style="width: 303.796882250212px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Instrument Holiday Party 2013
                    </h2>
                    <p>Let's make a game!</p>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find
                    </h2>
                    <img data-src="make-art-not-apps/app_1.png" style="width: 303.796882250212px; height: 537.817028757455px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find
                    </h2>
                    <img data-src="make-art-not-apps/app_3.png" style="width: 303.796882250212px; height: 537.817028757455px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find
                    </h2>
                    <img data-src="make-art-not-apps/app_4.png" style="width: 303.796882250212px; height: 537.817028757455px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find
                    </h2>
                    <img data-src="make-art-not-apps/app_5.png" style="width: 303.796882250212px; height: 537.817028757455px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find
                    </h2>
                    <img data-src="make-art-not-apps/app_6.png" style="width: 303.796882250212px; height: 537.817028757455px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find
                    </h2>
                    <img data-src="make-art-not-apps/app_7.png" style="width: 303.796882250212px; height: 537.817028757455px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find
                    </h2>
                    <p>Fun mix of interactivity and gamification, all in a safe environment.</p>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find
                    </h2>
                    <p>How'd it go?</p>
                    <br>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find
                    </h2>
                    <p>How'd it go?</p>
                    <br>
                    <p>Quite badly</p>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Stats
                    </h2>
                    <img data-src="make-art-not-apps/holiday-stats.png" style="height:600px">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Stats
                    </h2>
                    <br>
                    <div>26% of invites were accepted</div>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Stats
                    </h2>
                    <br>
                    <div>26% of invites were accepted</div>
                    <div>17% of games started were completed</div>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Stats
                    </h2>
                    <br>
                    <div>26% of invites were accepted</div>
                    <div>17% of games started were completed</div>
                    <div>1% of people enjoyed the experience</div>
                </section>




                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Mistakes
                    </h2>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Mistakes
                    </h2>
                    <p>That name...</p>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Mistakes
                    </h2>
                    <p>That name...</p>
                    <p>Party was too crowded</p>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Mistakes
                    </h2>
                    <p>That name...</p>
                    <p>Party was too crowded</p>
                    <p>People were drinking</p>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Mistakes
                    </h2>
                    <p>That name...</p>
                    <p>Party was too crowded</p>
                    <p>People were drinking</p>
                    <p>Only push notifications</p>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Mistakes
                    </h2>
                    <p>That name...</p>
                    <p>Party was too crowded</p>
                    <p>People were drinking</p>
                    <p>Only push notifications</p>
                    <p>We were secretive about it</p>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Mistakes
                    </h2>
                    <p>That name...</p>
                    <p>Party was too crowded</p>
                    <p>People were drinking</p>
                    <p>Only push notifications</p>
                    <p>We were secretive about it</p>
                    <p>Tiny text</p>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Mistakes
                    </h2>
                    <p>That name...</p>
                    <p>Party was too crowded</p>
                    <p>People were drinking</p>
                    <p>Only push notifications</p>
                    <p>We were secretive about it</p>
                    <p>Tiny text</p>
                    <p>Balloons were too small</p>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Holiday Find Mistakes
                    </h2>
                    <p>That name...</p>
                    <p>Party was too crowded</p>
                    <p>People were drinking</p>
                    <p>Only push notifications</p>
                    <p>We were secretive about it</p>
                    <p>Tiny text</p>
                    <p>Balloons were too small</p>
                    <p>More that I probably blocked out</p>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-invert.png">
                    <h1>
                        Takeaway 4
                    </h1>
                    <p>Understand the context</p>
                </section>
