
<section>
    <h2>
        Let's Make a Plinko!
    </h2>
    <br>
    <p style="float:left; width:33%"><video autoplay loop data-src="/videos/plinko-drew.mov"></video></p>
    <p class="fragment" style="float:left; width:33%; font-size: 120px; text-align:center; ">+</p>
    <p class="fragment" style="float:right; width:33%;"><img data-src="/images/js.jpg"/></p>
    <p class="fragment" style="clear:both;">Plinko meets generative digital art</p>
<!-- 
- Didn't start with any technology decisions (except javascript, duh)
- It's helpful to have someone to bounce ideas off of
- We sat in an empty studio and drew stuff on empty ikea boxes
- The idea we settled on was a mashup of previously unused project ideas
- It was plinko, plinco, plin.co
-->
</section>


<section>
    <h2>
        Let's Build This Thing
    </h2>
    <br>
    <p><video autoplay loop data-src="/videos/assembly2.m4v"></video></p>
</section>


<section>
    <h2>
        Reward
    </h2>
    <br>
    <p><video autoplay loop data-src="/videos/plincoReward.m4v"></video></p>
<!--
- This kind of project is fun from a technical perspective, but that's only one reason we kept at it.
- Sharing it with others is even more rewarding than finishing the project to begin with.
- After buliding the kiosk, we can set it up and watch how people react to it.
- Making things like this is very different from building web apps, you have the chance to see the direct impact it has vs analytics.
- Because the reach is much smaller than the web, the reward is much more personal.
-->
</section>

<section>
    <h2>Where's the JS?</h2>
    <br>
    <p class="fragment">Basically, everywhere.</p>
    <p class="fragment">Visualization in Chrome</p>
    <p class="fragment">Node.js for (almost) everything else</p>
<!--
- Hey Ben, that looks like a lot of hardware, this is an Empire JAY ESSSSS!
- You might not guess, but 99.99912873% of plin.co runs on JS in one way or another.
- The only non-JS portion is thet physical sensor hardware and a little microcontroller hooked up via USB.
- Lots of node.js happening, all the graphics, animation, and projector tricks are running in chrome.
-->
</section>