<section>
    <h2>
        CascadiaJS 2014
    </h2>
    <br>
    <p>story time</p>
</section>
                
<section>
    <h2>
        Getting started
    </h2>
    <br>
    <p>Take the first step.</p>
    <p>Mental lego pieces</p>
    <p>tinkering and trying things can help later in unexpected ways.</p>
</section>

<section>
    <h2>
        Iterating and Prototyping
    </h2>
    <br>
    <p>Fail quickly</p>
</section>

<section>
    <h2>
        Commit or quit
    </h2>
    <br>
    <p>bought materials and put in time/effort</p>
</section>

<section>
    <h2>
        Failure
    </h2>
    <br>
    <p>but we kept going</p>
</section>

<section>
    <h2>
        Reward
    </h2>
    <br>
    <p>Seeing people react</p>
</section>

<section>
    <h2>
        Modular rendering system
    </h2>
    <br>
    <p>100% JS</p>
</section>

<section>
    <h2>
        Image capture/GIF encoding
    </h2>
    <br>
    <p></p>
</section>