
                
                



                

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        IANNIS XENAKIS
                    </h2>
                    <div>
                        Creative coding pioneer
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Iannis Xenakis
                    </h2>
                    <div>
                        Creative coding pioneer
                    </div>
                    <div>
                        <br>
                    </div>
                    <div>
                        <br>
                    </div>
                    <audio controls data-autoplay loop data-src="make-art-not-apps/pronounce.mp3"></audio>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        IANNIS XENAKIS
                    </h2>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        Creative coding pioneer
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        <img data-src="make-art-not-apps/810973-XenakisMDaniel.jpg" style="width: 459.217391076295px; height: 315.606065731493px; max-height: none; max-width: none;"><br>
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        Created music with principles of mathematics.
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        Coined the idea of stochastic music
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        IANNIS XENAKIS
                    </h2>
                    <div>
                        Pithoprakta
                    </div>
                    <img data-src="make-art-not-apps/808910-pithoprakta2.jpeg">
                    <audio data-autoplay controls loop data-src="make-art-not-apps/pithroprakta.mp3"></audio>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        frieder nake
                    </h2>
                    <div>
                        Creative coding pioneer
                    </div><img data-src="make-art-not-apps/810981-Frieder_Nake_s_Portrait.gif" style="width: 344.551918880174px; height: 511.775362090788px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Frieder Nake
                    </h2>
                    <div>
                        Creative coding pioneer
                    </div>
                    <div>
                        <br>
                    </div>
                    <div>
                        Walk Through Raster
                    </div>
                    <div>
                        art created with Markov chains
                    </div>
                    <div>
                        <br>
                    </div><img data-src="make-art-not-apps/810958-Screenshot_2014-11-10_09.59.39.png">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Frieder Nake
                    </h2>
                    <div>
                        Walk Through Raster, 1966-2011
                    </div>
                    <img data-src="make-art-not-apps/808861-GCA_ill56.jpg" style="width: 500.860561426815px; height: 507.561593974846px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Frieder Nake
                    </h2>
                    <div>
                        Walk Through Raster, 1966-2011
                    </div><img data-src="make-art-not-apps/808877-Freider-Nake-Untitled-1.jpg" style="width: 482.071189453265px; height: 498.188405569049px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Frieder Nake
                    </h2>
                    <div>
                        <span style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal;">Walk Through Raster, 1966-2011</span>
                    </div><img data-src="make-art-not-apps/808882-Screenshot_2014-11-09_22.09.03.png" style="width: 513.431039746339px; height: 511.775362090788px; max-height: none; max-width: none;">
                </section>
                