<section>
    <h2>
        Projection Mapping
    </h2>
    <br>
    <p>Brief description</p>
    <p>some images, minecraft block?</p>
    <p>how it works (very briefly)</p>
</section>

<section>
    <h2>
        Maptastic.js
    </h2>
    <br>
    <p>Came out of plin.co</p>
    <p>Built to emulate non-browser based mapping tools</p>
    <p>Useful! Feature packed!</p>
    <p>This often happens when you do projects, fun side-benefit.</p>
</section>

<section>
    <h2>
        Demo time!
    </h2>
    <br>
    <p>Turn projector on with NODE!</p>
    <p>Demo it. Use 2nd projector on stage and hold up foam core.</p>
</section>

<section>
    <h2>
        Give it a try!
    </h2>
    <br>
    <p>Free to use! We just made it because we needed it.</p>
    <p>Link to repo.</p>
</section>
