<section>
    <h2>
        Projection Mapping
    </h2>
    <br>
    <p class="fragment">Projecting content onto physical objects</p>
    <p class="fragment">Lots of tools exist...</p>
    <p class="fragment">but not for the web</p>
    <p class="fragment">canvas.getContext('realWorld');</p>
</section>

<section>
    <h2>
        Projection Mapping
    </h2>
    <br>
    <p>CSS 3D to the rescue!</p>
    <p style="float:left; width:33%"><img src="images/source-content.png" width="100%"/></p>
    <p style="float:left; width:33%" class="fragment"><br><br>transform:<br>matrix3d()</p>
    <p style="float:left; width:33%" class="fragment"><img src="images/projected-content.png" width="100%"/></p>
    <p class="fragment">Matrix values??</p>
</section>

<section>
    <h2>
        Demo Time!
    </h2>
    <br>
    <p class="fragment"><input type="button" value="Turn On Projector" id="projector-on-button"/></p>
</section>

<section>
    <h2>
        Demo Time!
    </h2>
    <br>
    <p><canvas id="maptastic-demo-canvas" width="853" height="480"></canvas>
</section>

<section>
    <h2>
        Demo Time!
    </h2>
    <br>
    <p><input type="button" value="Turn Off Projector" id="projector-off-button"/></p>
</section>

<!-- Live demo finished -->


<section>
    <h2>
        plin.co &lt;3 projection mapping
    </h2>
    <br>
    <p class="fragment">flexible physical setup</p>
    <p class="fragment">avoid non-browser based tools</p>
    <p class="fragment">built into plin.co rendering pipleline</p>
</section>

<section>
    <h2>
        Maptastic.js
    </h2>
    <br>
    <p>general purpose quad mapping</p>
    <p class="fragment">single line of code</p>
    
</section>

<section>
    <h2>
        Maptastic.js
    </h2>
    <br>
    <p>general purpose quad mapping</p>
    <p>single line of code</p>
    <p><pre><code data-trim>
&lt;div id="so-simple"&gt;This is pretty simple.&lt;/div&gt;

&lt;script&gt;
Maptastic("so-simple");
&lt;/script&gt;
    </code></pre></p>
</section>

<section>
    <h2>
        Give it a try!
    </h2>
    <br>
    <p><video autoplay loop data-src="/videos/maptastic-video.mp4"></video></p>
    <p><a href="http://bit.ly/maptasticjs">bit.ly/maptasticjs</a></p>


</section>
