<section>
    <h2>
        Hardware
    </h2>
    <br>
    <p>more than projector remote control</p>
    <p>easy support for websockets</p>
    <p>we're all kids in a candy store</p>
</section>


<section>
    <h2>
        Kinect
    </h2>
    <br>
                                        <p>[kinect image]</p>
    <p class="fragment">[ ] websockets?</p>
</section>
<section>
    <h2>
        Kinect
    </h2>
    <br>
                                        <p>[kinect image]</p>
    <p>[✓] websockets!</p>
</section>


<section>
    <h2>
        Leap Motion
    </h2>
    <br>
                                        <p>[jlea image]</p>
    <p class="fragment">[ ] websockets?</p>
</section>
<section>
    <h2>
        Leap Motion
    </h2>
    <br>
                                        <p>[jlea image]</p>
    <p>[✓] websockets!</p>
</section>


<section>
    <h2>
        Mind Wave
    </h2>
    <br>
                                        <p>[image]</p>
    <p class="fragment">[ ] websockets?</p>
</section>
<section>
    <h2>
        Mind Wave
    </h2>
    <br>
                                        <p>[image]</p>
    <p>[✓] websockets!</p>
</section>


<section>
    <h2>
        VR Headsets
    </h2>
    <br>
    <p>[image]</p>
    <p class="fragment">[ ] native support?</p>
</section>
<section>
    <h2>
        VR Headsets
    </h2>
    <br>
    <p>[image]</p>
    <p>[✓] native support!</p>
    <p class="fragment">(soon...)</p>
</section>

<section>
    <h2>
       ... 
    </h2>
    <br>
    <p></p>
</section>


<section>
    <h2>
        Demo Time!
    </h2>
    <br>
    <p>[live canvas from mind wave]</p>
</section>