<section>
    <h2>
        Projection Mapping
    </h2>
    <br>
    <p>Brief description</p>
</section>

<section>
    <h2>
        Maptastic.js
    </h2>
    <br>
    <p>Came out of plin.co</p>
    <p>Useful!</p>
</section>

<section>
    <h2>
        Demo time!
    </h2>
    <br>
    <p></p>
</section>

<section>
    <h2>
        If you can DOM it, you can map it.
    </h2>
    <br>
    <p>R. Kelly, yo.</p>
</section>

<section>
    <h2>
        Empire projection project
    </h2>
    <br>
    <p>Talk about process</p>
</section>

<section>
    <h2>
        Code Penpals
    </h2>
    <br>
    <p></p>
</section>