<!-- end tools -->
                

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        We're not wizards
                    </h2>
                    <div>
                        
                    </div>
                    
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Processing
                    </h2>
                    <div>
                         <img data-src="make-art-not-apps/processing.png" style="height: 320px; max-height: none; max-width: none;">
                    </div>
                    <div>
                        sketching with code
                    </div>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Processing
                    </h2>
                    <div>
                         <img data-src="make-art-not-apps/processing-sketchbook-menu.png" style="height: 320px; max-height: none; max-width: none;">
                    </div>
                    <div>
                        sketching with code
                    </div>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Javascript
                    </h2>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Javascript
                    </h2>
                    <p>Easy to share</p>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Javascript
                    </h2>
                    <p>Easy to share</p>
                    <p>Available (almost) everywhere</p>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Javascript
                    </h2>
                    <p>Easy to share</p>
                    <p>Available (almost) everywhere</p>
                    <p>Video, Audio, 3D, Virtual Freakin' Reality!</p>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        P5.js
                    </h2>
                    <div>
                        <br>
                    </div>
                    <pre>
<code><font style="font-size: 32px;">function setup() {
  createCanvas(640, 480);
}

function draw() {
  if (mouseIsPressed) {
    fill(0);
  } else {
    fill(255);
  }
  ellipse(mouseX, mouseY, 80, 80);
}</font></code>
</pre><br>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Three.js
                    </h2>
                    <div>
                        <br>
                    </div>
                    <div>
                        <pre>
<code><font style="font-size: 32px;">var camera, scene, renderer;

camera = new THREE.PerspectiveCamera(
    70, width/height, 1, 5000);
camera.position.z = 1500;

scene = new THREE.Scene();

renderer = new THREE.CSS3DRenderer();
renderer.setSize(width, height); </font></code>
</pre>
                    </div><br>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Three.js
                    </h2>
                    <div>
                        <br>
                    </div>
                    <div>
                        <pre>
<code><font style="font-size: 32px;">var geometry = new THREE.BoxGeometry( 1, 1, 1 );
var material = new THREE.MeshBasicMaterial( { color: 0x00ff00 } );
var cube = new THREE.Mesh( geometry, material );
scene.add( cube ); 

function render() {
    cube.rotation.x += 0.1;
    cube.rotation.y += 0.1;
    requestAnimationFrame( render );
    renderer.render( scene, camera );
}
render();</font></code>
</pre>
                    </div><br>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Input (not mouse/keyboard)
                    </h2>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Input (not mouse/keyboard)
                    </h2>
                    <div>
                        <br>
                    </div>
                    <div>
                        Kinect
                    </div>
                    <img src="make-art-not-apps/kinect.jpg">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Input (not mouse/keyboard)
                    </h2>
                    <div>
                        <br>
                    </div>
                    <div>
                        Leap Motion
                    </div>
                    <img src="make-art-not-apps/leap.png">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Input (not mouse/keyboard)
                    </h2>
                    <div>
                        <br>
                    </div>
                    <div>
                        Myo
                    </div>
                    <img src="make-art-not-apps/myo.png">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Input (not mouse/keyboard)
                    </h2>
                    <div>
                        <br>
                    </div>
                    <div>
                        Neurosky Mindwave
                    </div>
                    <img src="make-art-not-apps/mindwave.jpg">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Microcontrollers
                    </h2>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Microcontrollers
                    </h2>
                    <div>
                        Intel Galileo
                    </div><img data-src="make-art-not-apps/galileo.png" style="height: 487.849637453107px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Microcontrollers
                    </h2>
                    <div>
                        Raspberry Pi
                    </div><img data-src="make-art-not-apps/812119-RaspberryPi.jpg" style="height: 487.849637453107px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Microcontrollers
                    </h2><img data-src="make-art-not-apps/812123-Screenshot_2014-11-10_15.03.53.png" style="width: 853.679235973308px; height: 487.900362090788px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        And more!
                    </h2>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Here's some advice
                    </h2>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Work with a buddy
                    </h2>
                    <div>Find yourself a Ben Purdy or two</div>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        Or Find a bunch of buddies
                    </h2>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        Or Find a bunch of buddies
                    </h2>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        <br>
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        Austin
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        <a href="http://www.meetup.com/Austin-Interactive-Installation-Meetup/">Interactive Installation group</a>
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        Or Find a bunch of buddies
                    </h2>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        <br>
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        Boston
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        <a href="https://groups.google.com/forum/?fromgroups#!forum/boston-creative-coders">Creative Coders Google Group</a>
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        Or Find a bunch of buddies
                    </h2>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        <br>
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        Vancouver
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        <a href="http://www.meetup.com/ARTCODE/">ARTCODE</a>
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        Or Find a bunch of buddies
                    </h2>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        <br>
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        Berlin
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        <a href="https://hackpad.com/Creative-Coding-Stammtisch-p1csc13bizf">Stammtisch</a>
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        If you're local
                    </h2>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        Come to a PDX Creative Coder event
                    </div>
                    <img data-src="make-art-not-apps/cc0.jpeg" style="height: 480px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        If you're local
                    </h2>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        Come to a PDX Creative Coder event
                    </div>
                    <img data-src="make-art-not-apps/cc1.jpeg" style="height: 480px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        If you're local
                    </h2>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        Come to a PDX Creative Coder event
                    </div>
                    <img data-src="make-art-not-apps/cc2.jpeg" style="height: 480px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        If you're local
                    </h2>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        Come to a PDX Creative Coder event
                    </div>
                    <img data-src="make-art-not-apps/cc3.jpeg" style="height: 480px; max-height: none; max-width: none;">
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Don't start from a blank canvas
                    </h2>
                    <div><a href="http://codepen.io/gastonfig/full/EaYoyL/">Work with a base</a></div>
                    <div><a href="http://codepen.io/ThisIsJohnBrown/pen/412fd69cb21304814aff8e539af21ea7">And transform it</a></div>
                </section>
                <!-- end tools -->