                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Imagine for a moment.
                    </h2>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Imagine for a moment.
                    </h2>
                    <div>
                        <a href="http://l:8082/">Demo</a>
                    </div>
                    <div>
                        Cross your fingers.
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Ravewave
                    </h2>
                    <div>
                        You are the life of the party
                    </div>
                    <br>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Ravewave
                    </h2>
                    <div>
                        Did that demo not work?
                    </div><video data-autoplay loop data-src="make-art-not-apps/videos/sequence1.mp4"></video>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>Ravewave</h2>
                    <div>Combine <a href="#">Neurosky</a> and <a href="#">Neuronal-Synchrony</a></div>
                    <img data-src="make-art-not-apps/neurosky.jpg" style="width: 450.596014264701px; max-height: none; max-width: none;">
                    <img data-src="make-art-not-apps/neuronal.png" style="width: 450.596014264701px; max-height: none; max-width: none;">
                </section>
                  