<!-- start plin.co -->

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Remember Plinko?
                    </h2>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        Remember Plinko?
                    </h2>
                    <div>
                        Best game on The Price Is Right.
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/plinko.mp4"></video>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        <span style="font-size: 75.8605117797852px; font-style: normal; font-variant: normal;">PLIN.CO</span>
                    </h2>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h1>
                        plin.co
                    </h1>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        plin.co
                    </h2>
                    <div>
                        1 peg
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/plinco1.mov"></video>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        plin.co
                    </h2>
                    <div>
                        10 pegs
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/plinco2.mov"></video>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        plin.co
                    </h2>
                    <div>
                        87 pegs
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/plinco-pegs.mov"></video>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        plin.co
                    </h2>
                    <div>
                        Make some boards
                    </div>
                    <video data-autoplay loop data-src="make-art-not-apps/videos/plinco4.m4v"></video>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        PLin.co
                    </h2>
                    <div>
                        Wire it up
                    </div><video data-autoplay loop data-src="make-art-not-apps/videos/plinco5.mov"></video>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        plin.co
                    </h2>
                    <div>
                        Let's do this! <video data-autoplay loop data-src="make-art-not-apps/videos/plinco-full2.mov"></video>
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        plin.co
                    </h2>
                    <div>
                        Close up <video data-autoplay loop data-src="make-art-not-apps/videos/plinco-closeup.mov"></video>
                    </div>
                </section>
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        plin.co
                    </h2>
                    <div>
                        Voronoi <video data-autoplay loop data-src="make-art-not-apps/videos/plinco-full.mov"></video>
                    </div>
                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        plin.co
                    </h2>
                    <div>
                        Demo time tomorrow!
                    </div>
                </section>
                
                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2>
                        plin.co
                    </h2>
                    <div>
                        Javascript components:
                    </div>
                    <div>
                        <br>
                    </div>
                    <div>
                        - Node server for pin strikes
                    </div>
                    <div>
                        - Front end receives sockets
                    </div>
                    <div>
                        - Visualizations
                    </div>
                    <div>
                        - Node renders gifs
                    </div>
                    <div>
                        - API call post to Twitter
                    </div>
                    <div>
                        - D3 (JS library) for projection mapping
                    </div>
                    <div>
                        - JS front end tool for calibrating pins
                    </div>
                </section>

                <!-- end plin.co -->