<section>
    <h2>
        Hardware
    </h2>
    <br>
    <p>Lots of new hardware that's easy to hook up to JS</p>
</section>

<section>
    <h2>
        Kinect
    </h2>
    <br>
    <p>*image*</p>
</section>

<section>
    <h2>
        Leap Motion
    </h2>
    <br>
    <p>*image*</p>
</section>

<section>
    <h2>
        Mind Wave
    </h2>
    <br>
    <p>*image*</p>
</section>

<section>
    <h2>
        VR Cameras
    </h2>
    <br>
    <p>*image*</p>
</section>

<section>
    <h2>
        Myo
    </h2>
    <br>
    <p>I've been making art this whole time!</p>
</section>