<section>
    <h2>
        uncontext.
    </h2>
    <br>
    <p>public websockets</p>
    <p><iframe src="about:blank" data-source="about:blank" width="100%" height="100%" id="uncontext-iframe"></iframe></p>
</section>

<section>
    <h2>
        uncontext.
    </h2>
    <br>
    <video autoplay loop data-src="/videos/endlessPlumber.m4v"></video>
    <!-- ben forced to play tetris -->
</section>

<section>
    <h2>
        last second idea
    </h2>
    <br>
    <p>uncontext plays nintendo</p>
    <p>[video of reactions to endless plumber]</p>
</section>

<section>
    <h2>
        Endless Plumber
    </h2>
    <br>
    <p></p>
    <p>[image of hardware with text overlay for components]</p>
</section>

<section id="live-video-slide">
    <h2>
        Endless Plumber
    </h2>
    <br>
    <p>
        <video id="live-video" autoplay="true" width="900" height="700"></video>
        <iframe class="fragment" src="http://raspberrypi:8000/admin.html" style="width:900px; height:700px;"></iframe>
    </p>
<!-- 
    Maybe include this question later on as part of a general reflection on the topic
    <p>Is this art?</p> 
-->
</section>

<!--
<section>
    <h2>
        truth
    </h2>
    <br>
    <p>was just a fun after-thought at the end of the hack-day</p>
    <p>"Silly" or small ideas often lead to interesting projects</p>
</section>
-->