<section>
    <h2>
        uncontext.
    </h2>
    <br>
    <p>What is it?</p>
    <p>Demo link</p>
</section>

<section>
    <h2>
        uncontext.
    </h2>
    <br>
    <p>hackday</p>
    <p>video</p>
    <p>quick live links of content from show</p>
</section>

<section>
    <h2>
        Endless Plumber
    </h2>
    <br>
    <p>uncontext data controls a NES emulator</p>
    
</section>

<section>
    <h2>
        Endless Plumber!
    </h2>
    <br>
    <p>Real NES</p>
    <p>Art?</p>
    <p>Diode Show with terrible photos?</p>
</section>

<section>
    <h2>
        truth
    </h2>
    <br>
    <p>was just a fun after-thought at the end of the hack-day</p>
    <p>"Silly" or small ideas often lead to interesting projects</p>
</section>