<section>
    <h2>
        Takeaways
    </h2>
    <br>
</section>

<section>
    <h2>
        Takeaway 1
    </h2>
    <h1>Try this at home</h1>
    <br>
    <p>Start small, time-to-first-prototype is important</p>
</section>


<section>
    <h2>
        Takeaway 2
    </h2>
    <h1>
        OMG it's full of JS
    </h1>
    <br>
    <p>If it exists, you can probably hook it up to javascript</p>
    <p>John's been making art this whole time!</p>
</section>


<section>
    <h2>
        Takeaway 3
    </h2>
    <h1>Bring a buddy</h1>
    <br>
    <p></p>
    <p></p>
<!--
Get outside your technological comfort zones!
-->
</section>

<section>
    <h2>
        Takeaway 3.5
    </h2>
    <h1>Bring many buddies</h1>
    <br>
    <p>find a meetup!</p>
</section>

<section>
    <h2>
        Creative code groups
    </h2>
    <br>
    <p>Out of towners</p>
</section>

<section>
    <h2>
        Creative code groups
    </h2>
    <br>
    <p>Out of towners</p>
</section>

<section>
    <h2>
        Creative code groups
    </h2>
    <br>
    <p>NYC, unite!</p>
</section>

<section>
    <h2>
        Thanks!
    </h2>
    <br>
    <p></p>
</section>