<section>
    <h2>
        Takeaways 
    </h2>
    <br>
    <p>Start small, time-to-first-prototype is important</p>
    <p>Bring a buddy</p>
    <p>If it exists, you can probably hook it up to javascript at this point</p>
    <p>Get outside your technological comfort zones!</p>
</section>

<section>
    <h2>
        Try this at home 
    </h2>
    <br>
    <p></p>
</section>

<section>
    <h2>
        Code Penpals - try it in other people's homes, Sherlock Holmes
    </h2>
    <br>
    <p></p>
</section>

<section>
    <h2>
        Creative code groups
    </h2>
    <br>
    <p>Out of towners</p>
</section>

<section>
    <h2>
        Creative code groups
    </h2>
    <br>
    <p>Out of towners</p>
</section>

<section>
    <h2>
        Creative code groups
    </h2>
    <br>
    <p>NYC, unite!</p>
</section>

<section>
    <h2>
        Thanks!
    </h2>
    <br>
    <p></p>
</section>