<section>
    <h2>
        Takeaways 
    </h2>
    <br>
    <p>*insert list*</p>
</section>

<section>
    <h2>
        Try this at home 
    </h2>
    <br>
    <p></p>
</section>

<section>
    <h2>
        Creative code groups
    </h2>
    <br>
    <p>Out of towners</p>
</section>

<section>
    <h2>
        Creative code groups
    </h2>
    <br>
    <p>Out of towners</p>
</section>

<section>
    <h2>
        Creative code groups
    </h2>
    <br>
    <p>NYC, unite!</p>
</section>

<section>
    <h2>
        Thanks!
    </h2>
    <br>
    <p></p>
</section>