                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        One second to last thing
                    </h2>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        <br>
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        It's First Thursday, come check out some digital art!
                    </div>
                    <video data-autoplay loop="" data-src="make-art-not-apps/videos/hackday.m4v"></video>

                </section>

                <section data-background="make-art-not-apps/blankLarge-9-black.png">
                    <h2 style="font-style: normal; font-variant: normal;">
                        Thanks for having us!
                    </h2>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        <br>
                    </div>
                    <div style="font-size: 36.2318840026856px; font-style: normal; font-variant: normal; text-transform: none;">
                        We're @purdybot &amp; @thisisjohnbrown
                    </div>
                </section>