<section class="cutsheet" data-status="Here comes the big reveal.">
    <h1>
        <span class="white">State</span> of the Art
    </h1>
    <div class="band">
      <p>Away we go</p>
      <p data-status="gravitation">Come on down</p>
      <p data-status="transformation">Off the screen</p> <!-- 2 demos, projector and maptastic -->
      <p data-status="combination">From the outside</p> <!-- 1 demo, RaveWave -->
      <p data-status="translation">Keep moving right</p> <!-- 1 demo, endless plumber -->
      <p data-status="incitation">Wrap it up</p> <!-- 1 demo, myo -->

      <div id="cutsheet-twitter"><div>@purdybot <span class="divider">|</span> @thisisjohnbrown</div></div>
    </div>
</section>
