<section class="cutsheet">
    <h1>
        <font style="font-size: 112px;" color="#000000">State of the Art</font>
    </h1>
    <p>
        <font color="#cccccc" style="font-size: 32px;">explaination</font>
    </p>
    <p>
        <font color="#cccccc" style="font-size: 32px;">gravitation</font>
    </p>
    <p>
        <font color="#cccccc" style="font-size: 32px;">transformation</font> <!-- 2 demos, projector and maptastic -->
    </p>
    <p>
        <font color="#cccccc" style="font-size: 32px;">combination</font> <!-- 1 demo, RaveWave -->
    </p>
    <p>
        <font color="#cccccc" style="font-size: 32px;">translation</font> <!-- 1 demo, endless plumber -->
    </p>
    <p>
        <font color="#cccccc" style="font-size: 32px;">incitation</font> <!-- 1 demo, myo -->
    </p>
</section>
