
                <section class="cutsheet" data-background="make-art-not-apps/blankLarge-9.png">
                    <h1>
                        <font style="font-size: 112px;" color="#000000">Everyone respects the UX</font>
                    </h1>
                    <p>
                        <font color="#cccccc" style="font-size: 32px;">Your humble subjects</font>
                    </p>
                    <p>
                        <font color="#cccccc" style="font-size: 32px;">Dissects of projects and rejects</font>
                    </p>
                    <p>
                        <font color="#cccccc" style="font-size: 32px;">History reflects</font>
                    </p>
                    <p>
                        <font color="#cccccc" style="font-size: 32px;">It's not too complex</font>
                    </p>
                    <p>
                        <font color="#cccccc" style="font-size: 32px;">Hands on objects</font>
                    </p>
                </section>
