<section class="cutsheet">
    <h1>
        <font style="font-size: 112px;" color="#000000">State of the Art</font>
    </h1>
    <p>
        <font color="#cccccc" style="font-size: 32px;">Intro</font>
    </p>
    <p>
        <font color="#cccccc" style="font-size: 32px;">plin.co</font>
    </p>
    <p>
        <font color="#cccccc" style="font-size: 32px;">Nintendo</font>
    </p>
    <p>
        <font color="#cccccc" style="font-size: 32px;">Projection Mapping</font>
    </p>
    <p>
        <font color="#cccccc" style="font-size: 32px;">Myo</font>
    </p>
    <p>
        <font color="#cccccc" style="font-size: 32px;">Outro</font>
    </p>
</section>
